BILL_PAYMENT/2.0/schemas/IN_PORT0.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="responseCode" type="xs:unsignedByte" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="responseMessage" type="xs:string" />
        <xs:element name="responseData">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="accountNumber" type="xs:unsignedLong" />
              <xs:element name="amount" type="xs:decimal" />
              <xs:element name="custName" type="xs:string" />
              <xs:element name="resField1" type="xs:string" />
              <xs:element name="resField2" type="xs:string" />
              <xs:element name="resField3" type="xs:unsignedByte" />
              <xs:element name="resField4" type="xs:unsignedByte" />
              <xs:element name="resField5" type="xs:string" />
              <xs:element name="resField6" type="xs:decimal" />
              <xs:element name="oderId" type="xs:string" />
              <xs:element name="providerTransactionId" type="xs:integer" />
              <xs:element name="arrayResponse">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="AccountNumber" type="xs:unsignedLong" />
                    <xs:element name="PremiseType" type="xs:string" />
                    <xs:element name="Area" type="xs:string" />
                    <xs:element name="AccountType" type="xs:string" />
                    <xs:element name="PoBox" />
                    <xs:element name="Balance" type="xs:decimal" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
