REGISTERNEWCUSTOMERTOGETLOAN/1.0/transformations/routes/route5/project/resources/schemas/Output1.DTD

<!ELEMENT ClientId ( #PCDATA ) >
<!ELEMENT ClientSecret ( #PCDATA ) >
<!ELEMENT ClientSystemType ( #PCDATA ) >
<!ELEMENT PrimaryEntiry ( #PCDATA ) >
<!ELEMENT PrimaryEntityType ( #PCDATA ) >
<!ELEMENT SecondaryEntity EMPTY >
<!ELEMENT SecondaryEntityType ( #PCDATA ) >
<!ELEMENT root ( ClientId, ClientSecret, ClientSystemType, PrimaryEntityType, PrimaryEntiry, SecondaryEntityType, SecondaryEntity ) >
