FUNDTRANSFERINITIATE/1.0/transformations/components/Xslt2/project/resources/schemas/Output1.DTD

<!ELEMENT Acc ( #PCDATA ) >
<!ELEMENT Bal ( #PCDATA ) >
<!ELEMENT BizDate ( #PCDATA ) >
<!ELEMENT BizTime ( #PCDATA ) >
<!ELEMENT Brnch ( Nb, Acc, Bal ) >
<!ELEMENT Doc ( #PCDATA | BizDate | BizTime | curAccKHR | myBankID | nextSess | nextSettleKHR | nextSettleUSD | settleKHR | settleUSD )* >
<!ELEMENT Nb ( #PCDATA ) >
<!ELEMENT curAccKHR ( Brnch+ ) >
<!ELEMENT myBankID ( #PCDATA ) >
<!ELEMENT nextSess ( #PCDATA ) >
<!ELEMENT nextSettleKHR ( #PCDATA ) >
<!ELEMENT nextSettleUSD ( #PCDATA ) >
<!ELEMENT settleKHR ( #PCDATA ) >
<!ELEMENT settleUSD ( #PCDATA ) >
