REGISTERNEWCUSTOMERTOGETLOAN/1.0/transformations/routes/route11/project/resources/schemas/Input1.XSD

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:byte" name="Code"/>
        <xs:element type="xs:string" name="Description"/>
        <xs:element type="xs:int" name="SessionId"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>