REGISTERNEWCUSTOMERTOGETLOAN/1.0/transformations/components/Xslt1/project/resources/schemas/Input1.XSD

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Root">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:byte" name="Code"/>
        <xs:element type="xs:string" name="Description"/>
        <xs:element name="MNOSpecificData">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="Code"/>
              <xs:element type="xs:string" name="Description"/>
              <xs:element type="xs:string" name="resource"/>
              <xs:element type="xs:string" name="customerid"/>
              <xs:element type="xs:byte" name="status"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>